.PlayerContainer {
    border: 1px solid black;
    margin: 0 auto;
    /* padding-top: 80px; */
    width: fit-content
}

.PlayerInputContainer {
    margin: 10px
}

.PlayerInputContainer input {
    border: 1px solid black;
}

.PlayerInputContainer label {
    display: block;
}

.FactionSelect {
    border: 1px solid black;
    width: 100%;
}